/* Fonts */
@font-face {
	font-family: 'MuseoSlab-100';
	src: url('../../font/MuseoSlab-100.eot?') format('eot'), 
	     url('../../font/MuseoSlab-100.otf')  format('opentype'),
	     url('../../font/MuseoSlab-100.woff') format('woff'), 
	     url('../../font/MuseoSlab-100.ttf')  format('truetype'),
	     url('../../font/MuseoSlab-100.svg#MuseoSlab-100') format('svg');
}

@font-face {
	font-family: 'MuseoSlab-300';
	src: url('../../font/MuseoSlab-300.eot?') format('eot'), 
	     url('../../font/MuseoSlab-300.otf')  format('opentype'),
	     url('../../font/MuseoSlab-300.woff') format('woff'), 
	     url('../../font/MuseoSlab-300.ttf')  format('truetype'),
	     url('../../font/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
}

@font-face {
	font-family: 'MuseoSlab-500';
	src: url('../../font/MuseoSlab-500.eot?') format('eot'), 
	     url('../../font/MuseoSlab-500.otf')  format('opentype'),
	     url('../../font/MuseoSlab-500.woff') format('woff'), 
	     url('../../font/MuseoSlab-500.ttf')  format('truetype'),
	     url('../../font/MuseoSlab-500.svg#MuseoSlab-300') format('svg');
}

@font-face {
	font-family: 'MuseoSlab-700';
	src: url('../../font/MuseoSlab-700.eot?') format('eot'), 
	     url('../../font/MuseoSlab-700.otf')  format('opentype'),
	     url('../../font/MuseoSlab-700.woff') format('woff'), 
	     url('../../font/MuseoSlab-700.ttf')  format('truetype'),
	     url('../../font/MuseoSlab-700.svg#MuseoSlab-300') format('svg');
}

@font-face {
	font-family: 'MuseoSlab-900';
	src: url('../../font/MuseoSlab-900.eot?') format('eot'), 
	     url('../../font/MuseoSlab-900.otf')  format('opentype'),
	     url('../../font/MuseoSlab-900.woff') format('woff'), 
	     url('../../font/MuseoSlab-900.ttf')  format('truetype'),
	     url('../../font/MuseoSlab-900.svg#MuseoSlab-300') format('svg');
}

/* Struct */
body {
	background: #161616;
	color: #fff;
	min-height: 0;
}

.layout-fix slide {
	width: 900px !important;
	height: 700px !important;
	margin-left: -450px !important;
}

::selection {
	background-color: #F05033;
}

p {
	font-size: 1.5em;
	line-height: 1.3em;
	font-family: 'MuseoSlab-300';
	letter-spacing: 0.03em;
	font-weight: normal;
}

b {
	font-family: 'MuseoSlab-700';
	font-weight: normal;
	color: #f05033;
}

/* Pre */
pre {
	width: 100%;
	left: 0px;
	font-size: 1em;
	line-height: 1.35em;
	padding: 10px 0 16px 20px;
	background: #f5f5f5;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #555;
}

/* Slide */
slides > slide {
	color: #fff;
	overflow: hidden;
	font-family: 'MuseoSlab-300';
	line-height: 1.3em;
	letter-spacing: 0.03em;
	font-weight: normal;
}

slide article p {
	padding: 5px 0 15px;
}

/* Box */
.box {
	margin-bottom: 50px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	text-align: center;
	font-weight: normal;
	margin-bottom: 50px;
	font-family: 'MuseoSlab-700';
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #fff;
}

h2 {
	font-size: 3.45em;
}

h2 {
	color: #fff;
	font-family: 'MuseoSlab-700';
	text-transform: uppercase;
}

.title-min {
	font-size: 2.8em;
}
.title-xmin {
	font-size: 2.0em;
}

/* Text format */
.txm {
	font-size: 0.85em;
}

/* Effects */
.shadow {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
}

/* Lists */
.big-list li {
	font-size: 1.8em;
	margin-bottom: 50px;
}

/* Lightbox */
.lightbox {
	width: 900px;
	text-align: center;
	padding: 40px 0 !important;
	margin: 0;
	margin-top: 550px;
	margin-left: -60px;
	display: block;
	font-size: 1.5em;
	background: rgba(0,0,0,0.9);
	color: #fff;
} 
.lightbox:hover {
	color: #eee !important;	
}